:root {
  --theme-color: #5C6BC0;
  --accent-color: #FF7961;
  --warn-color: #F44336;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  max-width: 600px;
}


.menu {
  color: white;
  background-color: var(--theme-color);
}

.menu__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list-item {
  flex: 1 0 0;
  opacity: 0.7;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.menu__list-item.active {
  opacity: 1;
  border-bottom: 4px solid var(--accent-color);
}


.date-list {
  overflow: auto;
}

.date-list__header {
  opacity: 0.7;
  margin: 20px 20px;
}

.date-list__items {
  padding: 0 16px;
}

.date-list__item {
  list-style: none;
}


.date-entry {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.date-entry::after {
  content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  left: 58px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.date-entry__icon {
  width: 30px;
  height: 30px;
}

.date-entry__date {
  min-width: 98px;
  margin: 0 26px;
  font-size: 18px;
}

.date-entry__day {
  color: rgba(0, 0, 0, 0.7);
}

.date-entry__type {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.date-entry__type--no-shopping {
  color: var(--theme-color);
}

.date-entry__type--holiday {
  color: var(--warn-color);
}

.date-entry__additional-info {
  color: var(--theme-color);
}


.reminders {
  margin: 20px;
  flex-grow: 1;
}

.reminders--disabled {
  position: relative;
}

.reminders--disabled::after,
.reminders__info-disabled,
.reminders__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reminders--disabled::after {
  content: '';
  margin: -20px;
  background-color: rgba(0, 0, 0, 0.14);
}

.reminders__info-disabled,
.reminders__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminders__info-disabled {
  z-index: 1;
  margin-top: -20px;
  text-align: center;
}


.loader {
  --dot-size: 25px;
  --dot-gutter: 10px;
  --delay: 0.16s;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: var(--dot-size);
  height: var(--dot-size);
  animation-fill-mode: both;
  animation: load-dots 1.8s infinite ease-in-out;
}

.loader {  
  color: var(--theme-color);
  /* font-size: 10px; */
  margin: var(--dot-size) auto calc(var(--dot-size) * 3);
  position: relative;
  /* text-indent: -9999em; */
  /* transform: translateZ(0); */
  animation-delay: calc(-1 * var(--delay));
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: calc(-1 * (var(--dot-size) + var(--dot-gutter)));
  animation-delay: calc(-2 * var(--delay));
}

.loader:after {
  left: calc((var(--dot-size) + var(--dot-gutter)));
}

@-webkit-keyframes load-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--dot-size) 0 calc(var(--dot-size) / -2);
  }
  40% {
    box-shadow: 0 var(--dot-size) 0 0;
  }
}
@keyframes load-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--dot-size) 0 calc(var(--dot-size) / -2);
  }
  40% {
    box-shadow: 0 var(--dot-size) 0 0;
  }
}