:root {
  --theme-color: #5C6BC0;
  --accent-color: #FF7961;
  --warn-color: #F44336;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  max-width: 600px;
}


.menu {
  color: white;
  background-color: var(--theme-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.menu__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list-item {
  flex: 1 0 0;
  opacity: 0.7;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.menu__list-item.active {
  opacity: 1;
  border-bottom: 4px solid var(--accent-color);
}


.date-list {
  overflow: auto;
}

.list__header {
  opacity: 0.7;
  margin: 20px 20px;
}

.list__items {
  padding: 0 16px;
}

.list__item {
  position: relative;
  margin-bottom: 15px;
  list-style: none;
}

.list__item::after {
  content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  left: 58px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.date-entry {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.date-entry__icon {
  width: 30px;
  height: 30px;
}

.date-entry__date {
  min-width: 98px;
  margin: 0 26px;
  font-size: 18px;
}

.date-entry__day {
  color: rgba(0, 0, 0, 0.7);
}

.date-entry__type {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.date-entry__type--no-shopping {
  color: var(--theme-color);
}

.date-entry__type--holiday {
  color: var(--warn-color);
}

.date-entry__additional-info {
  color: var(--theme-color);
}


.reminders {
  flex-grow: 1;
  position: relative;
  overflow: auto;
}

.reminders--disabled::after,
.reminders__info-disabled,
.reminders__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reminders--disabled::after {
  content: '';
  margin: -20px;
  background-color: rgba(0, 0, 0, 0.14);
}

.reminders__info-disabled,
.reminders__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminders__info-disabled {
  z-index: 1;
  margin-top: -20px;
  text-align: center;
}

.reminders__add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  border: 0;
  background-color: var(--theme-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

@media (min-width: 600px) {
  .reminders__add-button {
    position: absolute;
  }
}

.reminders__add-button img {
  vertical-align: center;
  width: 24px;
  height: 24px;
}


.reminder-entry {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.reminder-entry__icon {
  width: 30px;
  height: 30px;
}

.reminder-entry__datetime {
  min-width: 80px;
  margin: 0 26px;
}

.reminder-entry__time {
  font-size: 18px;
}

.reminder-entry__date {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.reminder-entry__day-types {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.reminder-entry__day-types--long {
  font-size: 12px;
}

.reminder-entry__options {
  margin-right: -16px;
  padding: 16px;
}

.reminder-entry__options img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.reminder-entry__option {
  padding: 8px 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
}

.reminder-entry__option img {
  margin-left: 16px;
}


.reminder-editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

.reminder-editor__wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.reminder-editor__header {
  padding: 20px;
  padding-bottom: 24px;
  text-transform: uppercase;
  background-color: var(--theme-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  color: white;
}

.reminder-editor__header img {
  width: 16px;
  vertical-align: bottom;
  margin-right: 16px;
}

.reminder-editor__header button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

.reminder-editor__form {
  margin: 40px 20px 20px;
}

.reminder-editor__form input[type=submit] {
  width: 100%;
  height: 40px;
  margin-top: 50px;
}

.reminder-editor__form-item {
  margin: 20px 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

input[type=text],
input[type=time],
select {
  display: block;
  width: 100px;
  height: 34px;
  padding: 6px 10px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input[type=submit] {
  -webkit-appearance: none;
  min-width: 100px;
  min-height: 36px;
  padding: 8px 16px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  background-color: var(--theme-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}


.dropdown__list {
  display: none;
  z-index: 1;
  position: absolute;
  right: 0;
  padding: 0;
  list-style: none;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.dropdown__list.visible {
  display: block;
}

.dropdown__label,
.dropdown__option {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

.dropdown__option {
  width: 100%;
}


.loader {
  --dot-size: 25px;
  --dot-gutter: 10px;
  --delay: 0.16s;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: var(--dot-size);
  height: var(--dot-size);
  animation-fill-mode: both;
  animation: load-dots 1.8s infinite ease-in-out;
}

.loader {  
  color: var(--theme-color);
  margin: var(--dot-size) auto calc(var(--dot-size) * 3);
  position: relative;
  animation-delay: calc(-1 * var(--delay));
}

.loader:before,
.loader:after {
  content: '';
  position: fixed;
  top: 0;
}

.loader:before {
  left: calc(-1 * (var(--dot-size) + var(--dot-gutter)));
  animation-delay: calc(-2 * var(--delay));
}

.loader:after {
  left: calc((var(--dot-size) + var(--dot-gutter)));
}

@-webkit-keyframes load-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--dot-size) 0 calc(var(--dot-size) / -2);
  }
  40% {
    box-shadow: 0 var(--dot-size) 0 0;
  }
}
@keyframes load-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--dot-size) 0 calc(var(--dot-size) / -2);
  }
  40% {
    box-shadow: 0 var(--dot-size) 0 0;
  }
}